/B/ChessPieces/Chess_bdd45.gif
/B/ChessPieces/Chess_bdl45.gif
/B/ChessPieces/Chess_bld45.gif
/B/ChessPieces/Chess_bll45.gif
/B/ChessPieces/Chess_emptyd45.gif
/B/ChessPieces/Chess_emptyl45.gif
/B/ChessPieces/Chess_kdd45.gif
/B/ChessPieces/Chess_kdl45.gif
/B/ChessPieces/Chess_kld45.gif
/B/ChessPieces/Chess_kll45.gif
/B/ChessPieces/Chess_krt45.gif
/B/ChessPieces/Chess_ndd45.gif
/B/ChessPieces/Chess_ndl45.gif
/B/ChessPieces/Chess_nld45.gif
/B/ChessPieces/Chess_nll45.gif
/B/ChessPieces/Chess_pdd45.gif
/B/ChessPieces/Chess_pdl45.gif
/B/ChessPieces/Chess_pld45.gif
/B/ChessPieces/Chess_pll45.gif
/B/ChessPieces/Chess_qdd45.gif
/B/ChessPieces/Chess_qdl45.gif
/B/ChessPieces/Chess_qgg45.gif
/B/ChessPieces/Chess_qgt45.gif
/B/ChessPieces/Chess_qld45.gif
/B/ChessPieces/Chess_qll45.gif
/B/ChessPieces/Chess_qrg45.gif
/B/ChessPieces/Chess_qrt45.gif
/B/ChessPieces/Chess_qyt45.gif
/B/ChessPieces/Chess_rdd45.gif
/B/ChessPieces/Chess_rdl45.gif
/B/ChessPieces/Chess_rld45.gif
/B/ChessPieces/Chess_rll45.gif
